body{
    color:rgb(253, 212, 212);
    background: darkslategrey;
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(darkslategray);

    margin: 20px;

    font-size: 32px;

    color:blueviolet;
}

section{
    background:darkslategray;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

